## Checks book for final assignment

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
tickets = pd.read_csv(f"D:/Docs/train_1.csv", encoding='mac_roman')

C:\Users\SYED\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
tickets.head(4)

,ticket_id,inspector_name,violator_name,violation_street_number,violation_street_name,city,zip_code,country,ticket_issued_date,hearing_date,...,late_fee,discount_amount,clean_up_cost,judgment_amount,payment_amount,balance_due,payment_date,payment_status,collection_status,compliance
0,22056,"Sims, Martinzie","INVESTMENT INC., MIDWEST MORTGAGE",2900,TYLER,CHICAGO,60606,USA,16-03-04 11:40,21-03-05 10:30,...,25.0,0,0,305.0,0.0,305.0,NaN,NO PAYMENT APPLIED,NaN,0.0
1,27586,"Williams, Darrin","Michigan, Covenant House",4311,CENTRAL,Detroit,48208,USA,23-04-04 12:30,06-05-05 13:30,...,75.0,0,0,855.0,780.0,75.0,02-06-05 0:00,PAID IN FULL,NaN,1.0
2,22062,"Sims, Martinzie","SANDERS, DERRON",1449,LONGFELLOW,DETROIT,48223,USA,26-04-04 13:40,29-03-05 10:30,...,0.0,0,0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN
3,22084,"Sims, Martinzie","MOROSI, MIKE",1441,LONGFELLOW,DETROIT,48214,USA,26-04-04 13:30,NaN,...,0.0,0,0,0.0,0.0,0.0,NaN,NO PAYMENT APPLIED,NaN,NaN

In [ ]:
sns.heatmap(tickets.isnull(), yticklabels=False, cbar=False, cmap='viridis')

In [ ]:
tickets.columns