In [2]:
import pandas as pd
data = pd.read_csv('./people-example.csv')
data.head()

  First Name Last Name        Country  age
0        Bob     Smith  United States   24
1      Alice  Williams         Canada   23
2    Malcolm      Jone        England   22
3      Felix     Brown            USA   23
4       Alex    Cooper         Poland   23

## All below commands to be only run on "GOOGLE COLAB DRIVE" online

In [ ]:
from google.colab import drive
drive.mount('/content/MyDrive/')

In [ ]:
!pip install turicreate
import turicreate
!7z x '/content/MyDrive/MyDrive/Work/people_wiki.sframe.zip'

In [ ]:
sf.export_csv('/content/MyDrive/MyDrive/Work/people_work/wiki1.csv')