# Welcome to our Lab Practice!

This lab is all about defining functions with multiple parameters. Are you ready? Let's go!

You will find some small tasks in sections below. After defining functions, call them to test.

###Task: define a function that print "*message*" *n* times, where *message* and *n* are parameters

In [1]:
def print_message_n(message, n):
  for i in range(n):
    print(message)

print_message_n('Hello, world!', 3)

Hello, world!
Hello, world!
Hello, world!

###Task: define a function that print integers *n*  to *m* (hint: you can use a for loop), where *n* and *m* are parameters, and *n < m*.

Challenge: Can you write a program that doesn't require *n < m*?

In [2]:
def print_n_to_m(n, m):
  for i in range(n, m+1):
    print(i)

print_n_to_m(2, 5)

2
3
4
5

In [5]:
def print_n_to_m_challenge(n, m):
  if n <= m:
    start = n
    while start <= m:
      print(start)
      start += 1
  else:
    start = n
    while start >= m:
      print(start)
      start -= 1 

print_n_to_m_challenge(2, 5)
print_n_to_m_challenge(5, 2)

2
3
4
5
5
4
3
2

###Task: define a function that print the sum of *n*  to *m*, where *n, m* are parameters, and *n* < *m*.

In [6]:
def sum_n_to_m(n, m):
  sum = 0
  for i in range(n, m+1):
    sum += i
  print(sum)

sum_n_to_m(2, 5)

14

###Task: define a function that print the AND logical operation of *condition1* and *condition 2*, where *condition1, condition2* are parameters.

In [8]:
def and_operation(condition1, condition2):
  print(condition1 and condition2)

and_operation(True, True)
and_operation(True, False)

True
False

###Task: define a function that print if *n* is divisible by *m*, where *n, m* are parameters.

In [10]:
def n_divisible_m(n, m):
  if n % m == 0:
    print(n, 'is divisible by', m)
  else:
    print(n, 'is not divisible by', m)

n_divisible_m(3, 2)

n_divisible_m(4, 2)

3 is not divisible by 2
4 is divisible by 2

###Task: define a function that print the minimal number from *x, y, z*, where *x, y, z* are parameters

In [12]:
def min(x, y, z):
  min = x
  if y < min:
    min = y
  if z < min:
    min = z
  print(min)

min(1, 2, 3)
min(6, 5, 4)

1
4