# Welcome to our third Lab Practice!

This lab is all about defining functions with return values. Are you ready? Let's get started!

You will find some small tasks in sections below. After defining functions, call them to test.

## Define functions with return numeric values.

###Task: define a function that return the absolute value of *n*, where *n* is a parameter

In [1]:
def abs(n):
    if n < 0:
        return -n
    else:
        return n

abs(-5)

5

###Task: define a function that return the product value of *n* and *m*, where *n, m* are parameters

In [2]:
def prod(n, m):
    return n * m

prod(-5, -3)

15

###Task: define a function that return the result of raise *n* to the power of *m*, where *n, m* are parameters

In [4]:
def raise_power(m, n):
    return m ** n

raise_power(5, -7)

1.28e-05

###Task: define a function that return the average of three numbers, *x, y, z*, where *x, y, z* are parameters

In [6]:
def average(x, y, z):
    return (x + y + z) / 3

average(5, 7, 9)

7.0

###Task: define a function that return the minimal of three numbers, *x, y, z*, where *x, y, z* are parameters

In [15]:
def minimum(x, y, z):
    min = x
    if y < min:
        min = y
    if z < min:
        min = z
    return min

minimum(1, 2, 3)

1

###Task: define a function that print sum of integers 1 to *n* (hint: you can use a for loop), where *n* is a parameter

In [16]:
def sum_upto(n):
    sum = 0
    for i in range(1, n+1):
        sum += i
    return sum

sum_upto(5)

15

## Define functions with return str values.

###Task: define a function that return "hello, *name*" where *name* is a parameter

In [2]:
def hello(name):
    return ("Hello " + str(name))

hello("meesam")

'Hello meesam'

###Task: define a function that return "hello world" *n* times, where *n* is a parameter

In [6]:
def hello_n(n):
    for i in range(1, n+1):
        return ("hello world")

hello_n(5)

'hello world'

###Task: define a function that concatenate message 1 and message 2 together and return it

In [7]:
def concat(msg1, msg2):
    return msg1 + msg2

concat('ali', 'shah')

'alishah'

## Define functions with return boolean values.

###Task: define a function that return the boolean value for given *n* is even or not, *n* is a parameter

In [14]:
def even(n):
    if n % 2 == 0:
        return True
    else:
        return False

even(5)

False

###Task: define a function that return the boolean value for given *n* is odd or not, *n* is a parameter

In [16]:
def odd(n):
    if not even(n):
        return True
    else:
        return False

odd(5)

True

###Task: define a function that return the boolean value for given *n* is prime number or not, *n* is a parameter

In [43]:
def prime(n):
    for i in range(2, n):
        if n % i == 0:
            return False
    return True
prime(20)

False

###Task: define a function that return the boolean value for given *n* is positive (>0) or not, *n* is a parameter

In [45]:
def pos(n):
    if n > 0:
        return True
    else:
        return False
pos(-5)

False

###Task: define a function that return the boolean value for whether or not given *n* is divisible by 6, *n* is a parameter

In [12]:
# your code will be here

## Define functions return multiple values.

###Task: define a function that return the min, max, avg, and total of given 3 numbers *x, y, z*, where *x, y, z* are parameters

In [ ]:
# your code will be here