## Sentiment Analysis - Amazon baby data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Read the main dataset
amazon = pd.read_csv('./amazon-baby_30pc.csv')

In [3]:
amazon.head(5)

,name,review,rating
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5

In [4]:
amazon.tail(5)

,name,review,rating
24336,"The Original Crumb Chum Bib, Blue Clouds Patte...",I've had this for a year and love it! It's hug...,5
24337,"The Original Crumb Chum Bib, Blue Clouds Patte...",I originally wrote this for the denim Crumb Ch...,5
24338,Sunshine Kids Lil' Snuggler Fitted Bottle Insu...,I bought this insulator and it just does not k...,1
24339,My Baby Sam Blue Stripes With Red Stars &quot;...,The person I bought this for LOVED this frame....,5
24340,Child to Cherish Christening Block in Blue,NaN,5

In [5]:
amazon.shape

(24341, 3)

In [7]:
amazon.columns

Index(['name', 'review', 'rating'], dtype='object')

In [9]:
amazon['name'].head(4)

0                             Planetwise Flannel Wipes
1                                Planetwise Wipe Pouch
2                  Annas Dream Full Quilt with 2 Shams
3    Stop Pacifier Sucking without tears with Thumb...
Name: name, dtype: object

In [14]:
amazon['name'].value_counts()

Cloud b Twilight Constellation Night Light, Turtle            520
Fisher-Price Booster Seat, Blue/Green/Gray                    489
Leachco Snoogle Total Body Pillow                             388
Baby Trend Diaper Champ                                       333
Leachco Back 'N Belly Contoured Body Pillow, Ivory            283
                                                             ...
Five Drawer Chest In Natural Finish                             1
Basic Comfort Ultimate Crib Sheet - Green Dot                   1
The First Years  Comfort Care Ultra High Speed Thermometer      1
Nuby Bottle Drying Rack, Colors May Vary                        1
Child to Cherish Christening Block in Blue                      1
Name: name, Length: 2079, dtype: int64

In [15]:
Turtle_reviews = amazon[amazon.name == "Cloud b Twilight Constellation Night Light, Turtle"]
Turtle_reviews

,name,review,rating
23339,"Cloud b Twilight Constellation Night Light, Tu...",This ladybug has helped my 2 year old daughter...,5
23340,"Cloud b Twilight Constellation Night Light, Tu...","this thing puts stars everywhere, ceiling and ...",5
23341,"Cloud b Twilight Constellation Night Light, Tu...",This item is cute. My child likes playing with...,3
23342,"Cloud b Twilight Constellation Night Light, Tu...",We got this for our baby. While he was sleepin...,5
23343,"Cloud b Twilight Constellation Night Light, Tu...","I see some customers got defective products, w...",5
...,...,...,...
23854,"Cloud b Twilight Constellation Night Light, Tu...",It was for my new grandson and my daughters sa...,5
23855,"Cloud b Twilight Constellation Night Light, Tu...",We bought the Cloud B Twilight Constellation N...,5
23856,"Cloud b Twilight Constellation Night Light, Tu...",I bought it since I am morally against ferberi...,3
23857,"Cloud b Twilight Constellation Night Light, Tu...","Stars do not move, no music to play. Only fain...",1
23858,"Cloud b Twilight Constellation Night Light, Tu...",Highly recommend this product~ It is soft enou...,5

In [17]:
Turtle_reviews['rating'].head()

23339    5
23340    5
23341    3
23342    5
23343    5
Name: rating, dtype: int64

In [18]:
amazon = amazon[amazon['rating']!= 3]       #Remove 3 as its neither positive or negative

In [19]:
amazon['rating'].value_counts()         #Check if 3 is removed or not

5    13422
4     4383
1     2718
2     1698
Name: rating, dtype: int64

In [23]:
amazon['sentiment'] = np.where(amazon['rating'] >= 4, True, False)

C:\Users\SYED\AppData\Local\Temp\ipykernel_16976\3013014915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon['sentiment'] = np.where(amazon['rating'] >= 4, True, False)

In [24]:
amazon.head(5)

,name,review,rating,sentiment
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5,True
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5,True
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5,True
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5,True
5,Stop Pacifier Sucking without tears with Thumb...,"When the Binky Fairy came to our house, we did...",5,True