### Pandas equivalent example to work with Document Clustering for People Wiki dataframe

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Read the main dataset
#Remove punctuation
#import string
#products['review_clean'] = products['review'].apply(lambda x: x.translate(str.maketrans('', 
# '', string.punctuation)))
people = pd.read_csv(f"D:/people_wiki.csv")

In [3]:
people.head(3)

,URI,name,text
0,<http://dbpedia.org/resource/Digby_Morrell>,Digby Morrell,digby morrell born 10 october 1979 is a former...
1,<http://dbpedia.org/resource/Alfred_J._Lewy>,Alfred J. Lewy,alfred j lewy aka sandy lewy graduated from un...
2,<http://dbpedia.org/resource/Harpdog_Brown>,Harpdog Brown,harpdog brown is a singer and harmonica player...

In [4]:
obama = people[people['name'] == 'Barack Obama']
obama

,URI,name,text
35817,<http://dbpedia.org/resource/Barack_Obama>,Barack Obama,barack hussein obama ii brk husen bm born augu...

In [17]:
from sklearn.feature_extraction.text import CountVectorizer

In [19]:
vectorizer = CountVectorizer()
matrix = vectorizer.fit_transform(obama['text'])
matrix

<1x270 sparse matrix of type '<class 'numpy.int64'>'
	with 270 stored elements in Compressed Sparse Row format>

In [21]:
counts = pd.DataFrame(matrix.toarray(), columns = vectorizer.get_feature_names())
counts

C:\Users\SYED\AppData\Roaming\Python\Python38\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,13th,1961,1992,1996,1997,20,2000in,2004,2007,2008,...,was,where,whether,which,while,with,withdrawal,won,worked,years
0,1,1,1,1,1,2,1,3,1,1,...,5,1,1,1,1,3,1,1,1,1

In [22]:
print(counts)

   13th  1961  1992  1996  1997  20  2000in  2004  2007  2008  ...  was  \
0     1     1     1     1     1   2       1     3     1     1  ...    5

   where  whether  which  while  with  withdrawal  won  worked  years
0      1        1      1      1     3           1    1       1      1

[1 rows x 270 columns]

In [23]:
counts.T.sort_values(by=0, ascending=False).head(10)

        0
the    40
in     30
and    21
of     18
to     14
his    11
obama   9
act     8
he      7
as      6

In [24]:
counts['obama']

0    9
Name: obama, dtype: int64